g5-web-service-client/xml-resources/web-service-references/PaymentService/wsdl/localhost_8181/g5-web-services/PaymentService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://webservices.g5.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.g5.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservices.g5.com/" schemaLocation="https://localhost:8181/g5-web-services/PaymentService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="approvePayment">
        <part name="parameters" element="tns:approvePayment"/>
    </message>
    <message name="approvePaymentResponse">
        <part name="parameters" element="tns:approvePaymentResponse"/>
    </message>
    <message name="NotEnoughFundsException">
        <part name="fault" element="tns:NotEnoughFundsException"/>
    </message>
    <message name="requestPayment">
        <part name="parameters" element="tns:requestPayment"/>
    </message>
    <message name="requestPaymentResponse">
        <part name="parameters" element="tns:requestPaymentResponse"/>
    </message>
    <message name="rollbackPayment">
        <part name="parameters" element="tns:rollbackPayment"/>
    </message>
    <message name="rollbackPaymentResponse">
        <part name="parameters" element="tns:rollbackPaymentResponse"/>
    </message>
    <portType name="PaymentService">
        <operation name="approvePayment">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://webservices.g5.com/PaymentService/approvePaymentRequest" message="tns:approvePayment"/>
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://webservices.g5.com/PaymentService/approvePaymentResponse" message="tns:approvePaymentResponse"/>
            <fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:NotEnoughFundsException" name="NotEnoughFundsException" ns3:Action="http://webservices.g5.com/PaymentService/approvePayment/Fault/NotEnoughFundsException"/>
        </operation>
        <operation name="requestPayment">
            <input xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://webservices.g5.com/PaymentService/requestPaymentRequest" message="tns:requestPayment"/>
            <output xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://webservices.g5.com/PaymentService/requestPaymentResponse" message="tns:requestPaymentResponse"/>
        </operation>
        <operation name="rollbackPayment">
            <input xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://webservices.g5.com/PaymentService/rollbackPaymentRequest" message="tns:rollbackPayment"/>
            <output xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://webservices.g5.com/PaymentService/rollbackPaymentResponse" message="tns:rollbackPaymentResponse"/>
        </operation>
    </portType>
</definitions>