g5-web-service-client/xml-resources/web-service-references/TransactionService/wsdl/localhost_8181/g5-web-services/TransactionService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://webservices.g5.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.g5.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservices.g5.com/" schemaLocation="https://localhost:8181/g5-web-services/TransactionService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="rollbackTransaction">
        <part name="parameters" element="tns:rollbackTransaction"/>
    </message>
    <message name="rollbackTransactionResponse">
        <part name="parameters" element="tns:rollbackTransactionResponse"/>
    </message>
    <message name="withdraw">
        <part name="parameters" element="tns:withdraw"/>
    </message>
    <message name="withdrawResponse">
        <part name="parameters" element="tns:withdrawResponse"/>
    </message>
    <message name="NotEnoughFundsException">
        <part name="fault" element="tns:NotEnoughFundsException"/>
    </message>
    <message name="deposit">
        <part name="parameters" element="tns:deposit"/>
    </message>
    <message name="depositResponse">
        <part name="parameters" element="tns:depositResponse"/>
    </message>
    <message name="findTransactionById">
        <part name="parameters" element="tns:findTransactionById"/>
    </message>
    <message name="findTransactionByIdResponse">
        <part name="parameters" element="tns:findTransactionByIdResponse"/>
    </message>
    <message name="findTransactionsByAccountId">
        <part name="parameters" element="tns:findTransactionsByAccountId"/>
    </message>
    <message name="findTransactionsByAccountIdResponse">
        <part name="parameters" element="tns:findTransactionsByAccountIdResponse"/>
    </message>
    <portType name="TransactionService">
        <operation name="rollbackTransaction">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://webservices.g5.com/TransactionService/rollbackTransactionRequest" message="tns:rollbackTransaction"/>
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://webservices.g5.com/TransactionService/rollbackTransactionResponse" message="tns:rollbackTransactionResponse"/>
        </operation>
        <operation name="withdraw">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://webservices.g5.com/TransactionService/withdrawRequest" message="tns:withdraw"/>
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://webservices.g5.com/TransactionService/withdrawResponse" message="tns:withdrawResponse"/>
            <fault xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:NotEnoughFundsException" name="NotEnoughFundsException" ns5:Action="http://webservices.g5.com/TransactionService/withdraw/Fault/NotEnoughFundsException"/>
        </operation>
        <operation name="deposit">
            <input xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://webservices.g5.com/TransactionService/depositRequest" message="tns:deposit"/>
            <output xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://webservices.g5.com/TransactionService/depositResponse" message="tns:depositResponse"/>
        </operation>
        <operation name="findTransactionById">
            <input xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://webservices.g5.com/TransactionService/findTransactionByIdRequest" message="tns:findTransactionById"/>
            <output xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://webservices.g5.com/TransactionService/findTransactionByIdResponse" message="tns:findTransactionByIdResponse"/>
        </operation>
        <operation name="findTransactionsByAccountId">
            <input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://webservices.g5.com/TransactionService/findTransactionsByAccountIdRequest" message="tns:findTransactionsByAccountId"/>
            <output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://webservices.g5.com/TransactionService/findTransactionsByAccountIdResponse" message="tns:findTransactionsByAccountIdResponse"/>
        </operation>
    </portType>
</definitions>