g5-web-service-client/src/META-INF/wsdl/localhost_8181/g5-web-services/AccountService.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://webservices.g5.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.g5.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservices.g5.com/" schemaLocation="https://localhost:8181/g5-web-services/AccountService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="createAccount">
        <part name="parameters" element="tns:createAccount"/>
    </message>
    <message name="createAccountResponse">
        <part name="parameters" element="tns:createAccountResponse"/>
    </message>
    <message name="reopenAccount">
        <part name="parameters" element="tns:reopenAccount"/>
    </message>
    <message name="reopenAccountResponse">
        <part name="parameters" element="tns:reopenAccountResponse"/>
    </message>
    <message name="findAccountById">
        <part name="parameters" element="tns:findAccountById"/>
    </message>
    <message name="findAccountByIdResponse">
        <part name="parameters" element="tns:findAccountByIdResponse"/>
    </message>
    <message name="closeAccount">
        <part name="parameters" element="tns:closeAccount"/>
    </message>
    <message name="closeAccountResponse">
        <part name="parameters" element="tns:closeAccountResponse"/>
    </message>
    <portType name="AccountService">
        <operation name="createAccount">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://webservices.g5.com/AccountService/createAccountRequest" message="tns:createAccount"/>
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://webservices.g5.com/AccountService/createAccountResponse" message="tns:createAccountResponse"/>
        </operation>
        <operation name="reopenAccount">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://webservices.g5.com/AccountService/reopenAccountRequest" message="tns:reopenAccount"/>
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://webservices.g5.com/AccountService/reopenAccountResponse" message="tns:reopenAccountResponse"/>
        </operation>
        <operation name="findAccountById">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://webservices.g5.com/AccountService/findAccountByIdRequest" message="tns:findAccountById"/>
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://webservices.g5.com/AccountService/findAccountByIdResponse" message="tns:findAccountByIdResponse"/>
        </operation>
        <operation name="closeAccount">
            <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://webservices.g5.com/AccountService/closeAccountRequest" message="tns:closeAccount"/>
            <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://webservices.g5.com/AccountService/closeAccountResponse" message="tns:closeAccountResponse"/>
        </operation>
    </portType>
</definitions>