g5-web-service-client/src/META-INF/CustomerService.wsdl_1.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:tns="http://webservices.g5.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.g5.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservices.g5.com/" schemaLocation="https://localhost:8181/g5-web-services/CustomerService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="createCustomer">
        <part name="parameters" element="tns:createCustomer"/>
    </message>
    <message name="createCustomerResponse">
        <part name="parameters" element="tns:createCustomerResponse"/>
    </message>
    <message name="changeCustomerPassword">
        <part name="parameters" element="tns:changeCustomerPassword"/>
    </message>
    <message name="changeCustomerPasswordResponse">
        <part name="parameters" element="tns:changeCustomerPasswordResponse"/>
    </message>
    <message name="disableCustomer">
        <part name="parameters" element="tns:disableCustomer"/>
    </message>
    <message name="disableCustomerResponse">
        <part name="parameters" element="tns:disableCustomerResponse"/>
    </message>
    <message name="enableCustomer">
        <part name="parameters" element="tns:enableCustomer"/>
    </message>
    <message name="enableCustomerResponse">
        <part name="parameters" element="tns:enableCustomerResponse"/>
    </message>
    <message name="findCustomerById">
        <part name="parameters" element="tns:findCustomerById"/>
    </message>
    <message name="findCustomerByIdResponse">
        <part name="parameters" element="tns:findCustomerByIdResponse"/>
    </message>
    <portType name="CustomerService">
        <operation name="createCustomer">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://webservices.g5.com/CustomerService/createCustomerRequest" message="tns:createCustomer"/>
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://webservices.g5.com/CustomerService/createCustomerResponse" message="tns:createCustomerResponse"/>
        </operation>
        <operation name="changeCustomerPassword">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://webservices.g5.com/CustomerService/changeCustomerPasswordRequest" message="tns:changeCustomerPassword"/>
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://webservices.g5.com/CustomerService/changeCustomerPasswordResponse" message="tns:changeCustomerPasswordResponse"/>
        </operation>
        <operation name="disableCustomer">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://webservices.g5.com/CustomerService/disableCustomerRequest" message="tns:disableCustomer"/>
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://webservices.g5.com/CustomerService/disableCustomerResponse" message="tns:disableCustomerResponse"/>
        </operation>
        <operation name="enableCustomer">
            <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://webservices.g5.com/CustomerService/enableCustomerRequest" message="tns:enableCustomer"/>
            <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://webservices.g5.com/CustomerService/enableCustomerResponse" message="tns:enableCustomerResponse"/>
        </operation>
        <operation name="findCustomerById">
            <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://webservices.g5.com/CustomerService/findCustomerByIdRequest" message="tns:findCustomerById"/>
            <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://webservices.g5.com/CustomerService/findCustomerByIdResponse" message="tns:findCustomerByIdResponse"/>
        </operation>
    </portType>
</definitions>